<ibm-header name="[Platform]" >
  <ibm-header-navigation>
    <ibm-header-item routerLink="catalog">Catalog</ibm-header-item>
    <ibm-header-item routerLink="docs">Docs</ibm-header-item>
    <ibm-header-item routerLink="support">Support</ibm-header-item>
      <ibm-header-menu title="Manage">
      <ibm-header-item routerLink="link1">Link 1</ibm-header-item>
      <ibm-header-item routerLink="link2">Link 2</ibm-header-item>
      <ibm-header-item routerLink="link3">Link 3</ibm-header-item>
    </ibm-header-menu>
  </ibm-header-navigation>
</ibm-header>

    
