<ibm-sidenav>
    <ibm-sidenav-item [route]="['foo']">
      <svg ibmIcon="fade" size="16"></svg>
      Link
    </ibm-sidenav-item>

<ibm-sidenav-item [route]="['bar']">
    <svg ibmIcon="fade" size="16"></svg>
    Link
  </ibm-sidenav-item>
  <ibm-sidenav-menu title="Category title">
    <svg ibmIcon="fade" size="16"></svg>
    <ibm-sidenav-item [route]="['foo']">Link</ibm-sidenav-item>
    <ibm-sidenav-item [route]="['bar']">Link</ibm-sidenav-item>
    <ibm-sidenav-item [route]="['foo']">Link</ibm-sidenav-item>
  </ibm-sidenav-menu>
</ibm-sidenav>