<div>
<button ibmButton="primary" size="sm" [isExpressive]="isExpressive">Button</button>
			&nbsp;
			<button ibmButton="danger" size="sm" [isExpressive]="isExpressive" disabled="true">Button</button>
			&nbsp;
			<button ibmButton="danger--primary" size="field" [isExpressive]="isExpressive">
				With icon<svg class="bx--btn__icon" ibmIcon="add" size="16"></svg>
			</button>
			<br><br>
			<ibm-button-set>
				<button ibmButton="secondary" size="lg" [isExpressive]="isExpressive">Button</button>
				<button ibmButton="tertiary" size="xl" [isExpressive]="isExpressive">Button</button>
			</ibm-button-set>
        </div>           