<button  ibmButton="primary" (click)="open = true">Open</button>
			<ibm-modal  [open]="open"  size="sm" >
				<div class=container>
				<ibm-modal-header   >
					<h2  class="bx--modal-header__label bx--type-delta" [style.color]="color">Login</h2>
					<h4  class="bx--modal-header__heading bx--type-beta" [style.color]="color">Digital Twin</h4>
				</ibm-modal-header>
				<div class="bx--modal-content">
					<p  [style.color]="color">username</p>
	                <input size="60"  type="text" id="text" >
				</div>
				<ibm-modal-footer>
					<ng-container>
                     <button  ibmButton="primary" 
			         (click)="open = false" 
			         [attr.modal-primary-focus]="true" routerLink="/unity">
			        
			         Next</button> 
	                </ng-container>
			    </ibm-modal-footer>
		</div>
</ibm-modal>
